<div class="container main contact-detail">
	<div class="row">
	<div class="col-md-3 contact-image-holder">
 		<img data-contact-image contact="{{contact}}" src='http://www.johnbfox.com/img/person-icon.jpg' class="contact-image" />
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class='panel-heading'>
				<h3 class='panel-title'>{{contact.firstName}} {{contact.familyName}}</h3>
			</div>

			<div class="panel-body">
				<div class="row contact-attribute">
					<div class="col-md-4">
						<strong>Phone:</strong>
					</div>
					<div class="col-md-8">
						{{contact.phone}}
						<a href='tel:{{contact.phone}}'>
							<i class='glyphicon glyphicon-earphone primary'></i>
						</a>
					</div>
				</div>
				<div class="row contact-attribute">
					<div class="col-md-4">
						<strong>Mobile:</strong>
					</div>
					<div class="col-md-8">
						{{contact.mobile}}
						<a href='tel:{{contact.mobile}}'>
							<i class='glyphicon glyphicon-earphone primary'></i>
						</a>
					</div>
				</div>
				<div class="row contact-attribute">
					<div class="col-md-4">
						<strong>E-mail:</strong>
					</div>
					<div class="col-md-8">
						{{contact.email}}
						<a href='mailto:{{contact.email}}'>
							<i class='glyphicon glyphicon-envelope'></i>
						</a>
					</div>
				</div>
			</div>

			<div class="panel-footer">
				<div class="row edit-buttons">
					<div class="col-md-4 col-sm-12">
						<a href="#/edit/{{contact.id}}" class="btn-block btn btn-primary">Edit</a>
					</div>

					<div class="col-md-4 col-sm-12">
						<a href="#" data-ng-click="delete()" class="btn-block btn btn-danger">Delete</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>