<div class="row main search">
		<div class="col-md-12">
			<form class="search-form">
				<div class="form-group">
					<input class="form-control" data-ng-model='searchParam' data-ng-change='search()' id="disabledInput" type="text" placeholder="Search contacts here...">
				</div>
			</form>
		</div>
</div>

<div class='row no-margin'>
<div class="col-md-12 contact-list">
		<ul class="list-group">
			<li class="list-group-item contact-list-item" data-ng-repeat="contact in contacts | orderBy:'firstName'">
				<a href="" contact-list-item>
					<img contact-image contact="{{contact}}"  class='contact-list-image' src=''/>
					{{contact.firstName}} <strong>{{contact.familyName}}</strong>
				</a>
				<div class="options">
					
					 	<a ng-href='tel:{{contact.phone}}' class="btn btn-primary">
					 		<i class="glyphicon glyphicon-earphone"></i>
					 		Call
					 	</a>
					
						<a ng-href='tel:{{contact.mobile}}' class="btn btn-primary">
					 		<i class="glyphicon glyphicon-phone"></i>
					 		Call
					 	</a>
				

					 	<a href='mailto:{{contac.email}}' class="btn btn-primary">
							<i class='glyphicon glyphicon-envelope'></i>
							Email
					 	</a>

					 	<a  ng-href='#/list/{{contact.id}}' class="btn btn-primary">
							<i class='glyphicon glyphicon-new-window'></i>
							View
					 	</a>
				</div>
			</li>
		</ul>
	</div>
</div>