<div class="container main">
	<div class="row">
		<div class="col-md-12">
			<h3>Add Contact</h3>
		</div>	
	</div>

	<div class="row">
		<div class="col-md-12">
			<form name='form' data-ng-submit="submit()" novalidate>
				<div class="form-group">
					<label>
						First Name:
						<input type="text" name="firstName" class="form-control" data-ng-model="contact.firstName" required/>
						<span class="error" data-ng-show="(form.$submitted || form.firstName.$touched ) && form.firstName.$error.required">Field is required</span>
					</label>
				</div>
				<div class="form-group">
					<label>
						Family Name:
						<input type="text" name="familyName" class="form-control" data-ng-model="contact.familyName" required>
						<span class="error" data-ng-show="(form.$submitted || form.familyName.$touched) && form.familyName.$error.required">Field is required</span>
					</label>
				</div>
				<div class="form-group">
					<label>
						Phone:
						<input type="text" name="phone" class="form-control" data-ng-model="contact.phone" data-ng-pattern="/^\d+$/" required>
						<span class="error" data-ng-show="(form.$submitted || form.phone.$touched) && form.phone.$error.required">Field is required</span>
						<span class="error" data-ng-show="(form.$submitted || form.phone.$touched) && form.phone.$error.pattern">
							Value must be a phone number
						</span>
					</label>
				</div>
				<div class="form-group">
					<label>Mobile:						
						<input type="text" name="mobile" class="form-control" data-ng-model="contact.mobile" data-ng-pattern="/^\d+$/" required>
						<span class="error" data-ng-show="(form.$submitted || form.mobie.$touched) && form.mobile.$error.required">Field is required</span>
						<span class="error" data-ng-show="(form.$submitted || form.mobile.$touched) && form.mobile.$error.pattern">
							Value must be a phone number
						</span>
					</label>
				</div>
				<div class="form-group">
					<label>
						Email:
						<input type="email" name="email" class="form-control" data-ng-model="contact.email" required>
						<span class="error" data-ng-show="(form.$submitted || form.email.$touched) && form.email.$error.required">
							Field is required
						</span>
						<span class="error" data-ng-show="(form.$submitted || form.email.$touched) && form.email.$error.email">
							Value must be a valid email
						</span>
					</label>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>