extends layout

block content
  div(ng-app='dynacontacts' body-click)
   nav(class='navbar navbar-inverse navbar-fixed-top')
    div(class='container container-fluid')
     div(class='navbar-header')
      button(type='button', class='navbar-toggle collapsed' data-toggle='collapse' data-target=".navbar-collapse")
       span(class='sr-only') Toggle navigation
       span(class='icon-bar')
       span(class='icon-bar')
       span(class='icon-bar')
      a(class='navbar-brand') DynaContacts
     div(class='navbar-collapse collapse')
      ul(class='nav navbar-nav')
       li
        a(href='#/list')
         span(class='mdi mdi-action-view-list')
         span List
       li
        a(href="#/add")
         span(class='mdi mdi-content-add-circle-outline')
         span Add
   div(ng-view)
