doctype html
html
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    //- link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap-material-design/dist/css/material.min.css')

    link(rel='stylesheet', href='/bower_components/bootstrap-material-design/dist/css/material-fullpalette.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap-material-design/dist/css/ripples.min.css')

   

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/bootstrap-material-design/dist/js/material.js')
    script(src='/bower_components/bootstrap-material-design/dist/js/ripples.js')
    script(src='/bower_components/angularjs/angular.min.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/services/contactsService.js')
    script(src='/javascripts/controllers/contactList.js')
    script(src='/javascripts/controllers/contactDetail.js')
    script(src='/javascripts/controllers/addContact.js')
    script(src='/javascripts/controllers/editContact.js')
    script(src='/javascripts/directives/contactImage.js')
    script(src='/javascripts/directives/bodyClick.js')
    script(src='/javascripts/directives/contactListItem.js')