.main{
	margin-top:50px;
}

.search{
	background: #ebebeb;
	padding:0 15px;
	margin-right: 0px;
	margin-bottom: 20px;
}

.no-margin{
	margin: 0px;
}

.search-form{
	padding:20px 0;
	
}

.search-form .form-group{
	margin-bottom: 0;
}

.navbar .glyphicon,.navbar .mdi{
	margin-right: 5px;
	color:#fff;

}

.contact-detail{
	padding-top:20px;
}

.contact-detail .contact-image-holder{
	text-align: center;
	padding: 3px 0;
	margin-bottom: 20px;
}

.contact-detail .contact-image-holder .contact-image{
	max-width: 250px;
	margin: 0 auto;
}

.contact-attribute{
	padding:3px 0;
}

.form-group span.error{
	color:red;
	font-weight: 400;
	font-size: 11px;
}

@media screen and (max-width: 990px){
	.edit-buttons .btn{
		margin: 5px 0;
	}
}

.contact-list{
	padding:0;
}

.contact-list .list-group {
	border-radius:0;
}

.contact-list .list-group .list-group-item{
	border-radius: 0;
	padding:0;
}

.contact-list .list-group .list-group-item a {
	text-decoration: none;
	color:#333;
	display: block;
	padding:10px 15px;
}

.contact-list .list-group .list-group-item .options{	
	padding:15px 15px;
	background: #ebebeb;
	min-width: 100px;
	display: none;
}

.contact-list .list-group .list-group-item .options a{
	display: inline;
	max-height: 30px;
	padding: 8px 15px;
	background: #333;
	border:none;
	color:#ccc;
	margin-right: 8px;
	font-size:9px;
}

.contact-list .list-group .list-group-item .options a i{
	color:#ccc;
}

.contact-list-image{
	width: 40px;
	height:40px;
	border-radius: 40px;
	margin-right:20px;
}

